.login-com,
.reset-com {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.login-com .message,
.reset-com .message {
  width: 268px;
  height: 74px;
  box-sizing: border-box;
  padding: 15px 15px;
  color: white;
  line-height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  z-index: 1;
  transition: all 0.6s;
  pointer-events: all;
}
.login-com .form,
.reset-com .form {
  position: absolute;
  box-sizing: border-box;
  top: 196px;
  left: 45px;
  width: 260px;
  height: 79px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  pointer-events: all;
}
.login-com .form .phone,
.reset-com .form .phone {
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between;
}
.login-com .form .phone .select,
.reset-com .form .phone .select {
  box-sizing: border-box;
  border-right: 1px solid #d8d8d8;
  width: 87px;
  height: 100%;
  display: flex;
  align-items: center;
}
.login-com .form .phone .select .area_code,
.reset-com .form .phone .select .area_code {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.login-com .form .phone .select .area_code > i,
.reset-com .form .phone .select .area_code > i {
  font-size: 10px;
  padding-left: 5px;
  transform: translateY(2px);
}
.login-com .form .phone input,
.reset-com .form .phone input {
  padding-left: 24px;
  width: 145px;
  height: 100%;
  color: #333333;
}
.login-com .form .password,
.reset-com .form .password {
  width: 100%;
  height: 38px;
  position: relative;
}
.login-com .form .password input,
.reset-com .form .password input {
  padding: 0;
  width: 200px;
  height: 100%;
  color: #333333;
}
.login-com .form .password button,
.reset-com .form .password button {
  border-radius: 0 0 10px 0;
  height: 37px;
  position: absolute;
  top: 0;
  right: 0;
  color: #b3b3b3;
  background: #fafafa;
  cursor: pointer;
}
.login-com .form input::-webkit-input-placeholder,
.reset-com .form input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999999;
}
.login-com .form i,
.reset-com .form i {
  padding: 0 11px;
  color: #999999;
}
.login-com .hint,
.reset-com .hint {
  width: 258px;
  position: absolute;
  top: 287px;
  left: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  pointer-events: all;
}
.login-com .hint .autologin,
.reset-com .hint .autologin {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #686868;
}
.login-com .hint .loginerr,
.reset-com .hint .loginerr {
  color: #cd4747;
}
.login-com .hint .loginerr > i,
.reset-com .hint .loginerr > i {
  font-size: 10px;
}
.login-com > button:nth-of-type(1),
.reset-com > button:nth-of-type(1) {
  position: absolute;
  top: 315px;
  left: 45px;
  width: 260px;
  height: 40px;
  background: #ea4848;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  pointer-events: all;
  cursor: pointer;
}
.login-com > button:nth-of-type(1):hover,
.reset-com > button:nth-of-type(1):hover {
  background: #c72e2e;
}
.login-com > button:nth-of-type(2),
.reset-com > button:nth-of-type(2) {
  position: absolute;
  top: 370px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: underline;
  pointer-events: all;
  cursor: pointer;
}
.login-com .agreement,
.reset-com .agreement {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 285px;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  pointer-events: all;
}
.login-com .agreement input,
.reset-com .agreement input {
  padding: 0;
  margin: 0;
  color: #c72e2e;
}
.login-com .agreement i,
.reset-com .agreement i {
  color: #507daf;
  cursor: pointer;
}
