.width-height(@w,@h) {
  width: @w;
  height: @h;
}

.Recommendation {
  .banner {
    margin: 0 auto;
    .width-height(1040px, 234px);
    background-color: pink;
    text-align: center;
    line-height: 234px;
    font-size: 80px;
    color: white;
  }
}
