.wh(@w,@h) {
    width: @w;
    height: @h;
}
.conceal {
    position: absolute;
    width: 100%;
    height: 100%;

    overflow: hidden;
    pointer-events: none;
    .login_box {
        z-index: 55;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 350px;
        height: 500px;

        background: url(../../assets/手机登录.png) no-repeat #fafafa;
        background-position: 0px 53px;
        box-shadow: 0 0 15px #666666;
        pointer-events: all;
        .back {
            position: absolute;
            top: 15px;
            left: 10px;
            color: #999999;
            cursor: pointer;
            font-size: 10px;
            i {
                font-size: 10px;
            }
            &:hover {
                color: #666666;
            }
        }
        > button:nth-of-type(1) {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #999999;
            cursor: pointer;
            &:hover {
                color: #666666;
            }
        }
        .code {
            position: absolute;
            top: 237px;
            left: 50%;
            transform: translateX(-50%);
            width: 260px;
            height: 40;
            display: flex;
            justify-content: space-between;
            align-items: center;

            > p {
                position: absolute;
                top: -53px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                width: 100%;
                font-size: 10px;
            }
            input {
                padding: 0;
                width: 125px;
                height: 40px;

                box-sizing: border-box;
                border: 1px solid #dcdcdc;
                border-radius: 5px;
                padding-left: 35px;
            }
            i {
                position: absolute;
                left: 12px;
                color: #666666;
            }
            .count-down {
                width: 125px;
                height: 40px;
                box-sizing: border-box;
                background-color: #dedede;
                border-radius: 5px;
                text-align: center;
                line-height: 40px;
                color: #9999a1;
            }
            .none-count-down {
                width: 125px;
                height: 40px;
                box-sizing: border-box;
                background-color: #ea4848;
                border-radius: 5px;
                text-align: center;
                line-height: 40px;
                color: white;
                cursor: pointer;
                &:hover {
                    background-color: #c72e2e;
                }
            }
        }
        .finish {
            width: 260px;
            height: 40px;

            position: absolute;
            top: 317px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 5px;
            color: white;
            background: #ea4848;
            &:hover {
                background-color: #c72e2e;
            }
        }
    }
}
